<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>export.mail.relay.host</key>
	<string>smtp.googlemail.com</string>
	<key>export.mail.login</key>
	<string>mytimes.iphone@gmail.com</string>
	<key>export.mail.requiresAuth</key>
	<true/>
	<key>export.mail.passwd</key>
	<string>barneythekiller</string>
</dict>
</plist>
